extends layout

block content
	h1= title
	p Welcome to #{title}
	ul
		for movie in movies
			li
				button(data-movid='#{movie.id}', class='movie-btn')= movie.original_title
  	if page > 1
  		a.left(href="/#{page - 1}") Previous page
  	if page < maxPage
  		a.right(href="/#{page + 1}") Next page
